body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(120deg,#4568dc,#b06ab3);
}

.box {
  width: 300px;
  height: auto;
  border-radius: 10px;
  background: url(gojo.jpg) no-repeat center;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  padding-bottom: 16px;
}

ul li a {
  text-decoration: none;
}