h1 {
  text-align: center;
  margin-top: 80px;
}

h2 {
  color: #FFF;
}

P {
  color: #b2b2b2;
}

.container {
  max-width: 1024px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  display: block;
  background-color: #111;
  padding: 14px 30px 30px;
  border-radius: 4px;
}

.item {
  margin-top: 20px;
}

.yellow {
  color: #febe01;
}

button {
  background: #febe01;
  border-radius: 4px;
  padding: 10px;
  border: none;
  cursor: pointer;
}